<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head') %>
<body class="container pt-5">
    <%- include('../partials/header', {pagina: 'Sobre'}) %>
    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Minha Página Sobre</p>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>